* {
	font-family: Arial;
	font-size: 15px;
}

p3 {
	color:  yellow;
}

h1 {
	font-size: 50px;
}

#bootcamp {
	text-transform: uppercase;

}

.items {
	background-color: #AED0A1;
}

li[required] {
	border: 2px solid #99B1CF;
}

img + ul {
	list-style-type: none;
}

section img {
	height:100px;
	width: 100px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 20px;
}

